.option-menu-container {
  border: 1px solid black;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-button {
  color: rgb(211, 54, 54);
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
}
